@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: IBMPlexSans;

  background: url("/static/mesh-gradient.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #373b64;
  height: 100%;
}
